#include "src/resource.h"

IDR_REX_TOOLKIT_LOGO RCDATA "assets\\rex_toolkit_logo.png"
IDR_AUTO_CLICKER_ICON RCDATA "assets\\auto_clicker_icon.png"
IDR_FILE_CONVERTER_ICON RCDATA "assets\\file_converter_icon.png"
IDR_MEDIA_DOWNLOADER_ICON RCDATA "assets\\media_downloader_icon.png"
IDR_ALL_TOOLS_ICON RCDATA "assets\\all_tools_icon.png"
IDR_SETTINGS_ICON RCDATA "assets\\settings_icon.png"
IDR_REMINDERS_ICON RCDATA "assets\\reminders_icon.png"
IDR_SMART_FILE_TRANSFER_ICON RCDATA "assets\\smart_file_transfer_icon.png"
IDR_MACRO_RECORDER_ICON RCDATA "assets\\macro_recorder_icon.png"
IDR_VIDEO_COMPRESSOR_ICON RCDATA "assets\\video_compressor_icon.png"
IDI_REX_TOOLKIT_ICON ICON "assets\\rex_toolkit_icon.ico"
